<h1>New Message to <%= @user_friendship.friend.email %></h1>

<%= form_for (@message) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :content %><br>
    <%= f.text_field :content %>
  </p>
  <%= f.hidden_field :user_id, :value => @current_user.id %>
  <%= f.submit %>
<% end %>