<h1>Welcome <%= current_user.email %></h1>

<% @reservations.each do |reservation| %>
	<p>
	Party Size: <%= reservation.party_size %>
	Seating time: <%= reservation.seating_time %>
	</p>
	<%= link_to 'Show', user_reservation_path(@current_user.id ,reservation.id) %><br>
	<%= link_to 'Edit', edit_user_reservation_path(@current_user.id ,reservation.id) %><br>
	<%= link_to 'Destroy', user_reservation_path(@current_user.id ,reservation.id),
              method: :delete,
              data: { confirm: 'Are you sure?' } %><br>
<% end %>

<%= link_to 'Back to restaurant', restaurants_path %><br>
<%= link_to 'Back to cuisine', cuisine_types_path %><br>
<%= link_to 'Friends', user_friendships_path %><br>