<div id="ctShow">

	<h1><%= @cuisine_types.name %> Restaurants</h1>

	<div id="ctrList">

		<% @cuisine_types.restaurants.each do |restaurant| %>
		<div class="col-md-4">
			<p>
			  <% if restaurant.image? %>
			    <%= image_tag restaurant.image.small.url %>
			  <% else %>
			    <%= image_tag "http://placehold.it/200x200", class: "img-thumbnail" %>
			  <% end %>
			</p>
			<p><%= restaurant.name %></p>
			<button type="button" class="btn btn-primary">
				<%= link_to 'Show', restaurant_path(restaurant) %>
			</button>
		</div>
		<% end %>

	</div>

	<div id="ctrLink">

		<button type="button" class="btn btn-info">
			<%= link_to 'Back to cuisine', cuisine_types_path %>
		</button>
		<button type="button" class="btn btn-info">
			<%= link_to 'Add New Restaurant', new_restaurant_path %>
		</button>

	</div>

</div>