<h1>Reservations for <%= @restaurant.name %> under <%= @current_user.email %></h1>

<div id="reservation_edit">
	
</div>
<div id="reservation_list">
	<div class="row background" id="Rlist">
	  <% @reservations.each do |reservation| %>
		  <div class="col-md-4 single_reservation">
		  	<p>
				Party Size: <%= reservation.party_size %>
			</p>
			<p>
				Seating time: <%= reservation.seating_time.asctime %>
		    </p>
		    <% if reservation.seating_time <= Time.now %>
		    	<p>
		    		This is an expired reservation.
		    	</p>
		    <% else %>
		    	<p>
		    		This is a future reservation.
		    	</p>
		    <% end %>
		    <button type="button" class="btn btn-primary">
		    	<%= link_to 'Show', restaurant_reservation_path(@restaurant.id ,reservation.id) %>
		    </button>
		    <button type="button" class="btn btn-primary">
		  		<%= link_to 'Edit', edit_restaurant_reservation_path(@restaurant.id ,reservation.id), remote: true %>
		  	</button>
		  	<button type="button" class="btn btn-primary">
		  		<%= link_to 'Destroy', restaurant_reservation_path(@restaurant.id ,reservation.id),
	              method: :delete,
	              data: { confirm: 'Are you sure?' } %>
	        </button>
	  	  </div>
	  <% end %>
	</div>
	<div id="new_reservation_form">
		
	</div>
	<div class="links">
	<button type="button" class="btn btn-info">
		<%= link_to 'New', new_restaurant_reservation_path, id: "new_link", remote: true %>
	</button>
	<button type="button" class="btn btn-info">
		<%= link_to 'Back to cuisine', cuisine_types_path %>
	</button>	
	<button type="button" class="btn btn-info">
		<%= link_to 'Back to restaurant', restaurants_path %>
	</button>
	</div>
</div>