<h1>Reservations for <%= @restaurant.name %></h1>

<p>Party Size: <%= @reservation.party_size %></p>
<p>Seating Time: <%= @reservation.seating_time.asctime %></p>

<%= link_to 'New', new_restaurant_reservation_path %><br>
<%= link_to 'Back to restaurant', restaurants_path %>