<h1><%= @restaurant.name %> Detail</h1>

<% if @current_user.reservations.where(restaurant_id: params[:id]).length > 0 %>
  <p>You have made reservations at this restaurant before. Tell your friends about your experience!</p>
<% else %>
  <p>You have not made any reservations at this restaurant before. Try it out, may be you will like it.</p>
  <% end %>
<div class="row background" id="restaurant_show">
	<div class="col-md-6" id="restaurant_pic">
		<p>
		  <% if @restaurant.image? %>
		    <%= image_tag @restaurant.image.full.url %>
		  <% else %>
		    <%= image_tag "http://placehold.it/200x200", class: "img-thumbnail" %>
		  <% end %>
		</p>
	</div>
	<div class="col-md-6" id="restaurant_details">
		<p>
			Address: <%= @restaurant.address %>
		</p>
		<p>
			Capacity: <%= @restaurant.capacity %>
		</p>
		<p>
			Cuisine Type: <%= @restaurant.cuisine_type.name %>
		</p>
	</div>

	<div id="user_comment">
		<h2>Comments:</h2>
		<div id="com">
			<%= render @restaurant.comments %>
		</div>
		<h2 id="new_comment"><%= link_to 'comment', new_restaurant_comment_path(@restaurant.id), remote: true %></h2>
		<p id="creat_comment"></p>
	</div>

	<div id="restaurant_links">
		<button type="button" class="btn btn-primary">
		<%= link_to 'Reservation', restaurant_reservations_path(@restaurant.id), :class => 'showReservations' %>
		</button>
		<button type="button" class="btn btn-primary">
		<%= link_to 'Edit', edit_restaurant_path %>
		</button>
		<button type="button" class="btn btn-info">
		<%= link_to 'Back to restaurant', restaurants_path %>
		</button>
		<button type="button" class="btn btn-info">
		<%= link_to 'Back to cuisine', cuisine_type_path(@restaurant.cuisine_type_id) %>
		</button>
	</div>
	<div id="reservations"></div>
</div>

<script>	 	
	 $(document).ready(function() {
	 	var reservationsURL = $(".showReservations").attr('href');
	 	var format = {format: 'json'};
	 	function displayReservations (data) {
	 		var reservationHTML = '<ul class="list">';
    		var i = 0;
    		for(i; i<data.length; i++) {
        		reservationHTML += '<li class="listItems"> Seating Time ' + data[i].seating_time + ' party size ' + data[i].party_size + '</li>';
    		}
	 			$('#reservations').html(reservationHTML);
	 	}
	 	var data = $.getJSON(reservationsURL)
	 	$(".showReservations").on('mouseenter', function() {
	 		$.getJSON(
	 			reservationsURL, format, displayReservations
	 		)
	 	});
	 });
</script>