<!DOCTYPE html>
<html>
<head>
  <title>DinerV2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p class="navbar">
		<% if current_user %>
		  <button type="button" class="btn btn-info">
			<%= link_to "Inbox", messages_inbox_path %>
		  </button>
		  <button type="button" class="btn btn-info">
			<%= link_to "Main page", cuisine_types_path %>
		  </button>
		  <button type="button" class="btn btn-info">
			<%= link_to "All restaurants", restaurants_path %>
		  </button>
		  <button type="button" class="btn btn-info">
			<%= link_to "My profile", user_path(@current_user.id) %>
		  </button>
		  <button type="button" class="btn btn-info">
			<%= link_to "All users", users_path %>
		  </button>
		  <button type="button" class="btn btn-info">
			<%= link_to "Logout", logout_path, method: :delete %>
		  </button>
		<% else %>
		  <button type="button" class="btn btn-info">
			<%= link_to "Sign up", new_user_path %>
		  </button>
		  <button type="button" class="btn btn-info">
			<%= link_to "Login", login_path %>
		  </button>
		<% end %>
	</p>
<%= yield %>

</body>
</html>
